@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "SUITE-Regular";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/SUITE-Regular.woff2")
    format("woff2");
  font-weight: 400;
  font-style: normal;
}

.font-bcs {
  font-family: "SUITE-Regular", sans-serif;
}

.swiper {
  display: center;
  width: 35%;
}

.swiper-slide {
  background-position: center;
  background-size: 100%;
  width: 300px;
  height: 300px;
}

.swiper-slide img {
  display: block;
  width: 100%;
}
